// 定义flex等分
@for $i from 0 through 12 {
	.u-flex-#{$i} {
		flex: $i;
	}
}

// 定义字体(px)单位，小于20都为px单位字体
@for $i from 9 to 20 {
	.u-font-#{$i} {
		font-size: $i + px;
	}
}

// 定义字体(rpx)单位，大于或等于20的都为rpx单位字体
@for $i from 20 through 40 {
	.u-font-#{$i} {
		font-size: $i + rpx;
	}
}

// 定义内外边距，历遍1-80
@for $i from 0 through 80 {
	// 只要双数和能被5除尽的数
	@if $i % 2 == 0 or $i % 5 == 0 {
		// 得出：u-margin-30或者u-m-30
		.u-margin-#{$i}, .u-m-#{$i} {
			margin: $i + rpx!important;
		}
		
		// 得出：u-padding-30或者u-p-30
		.u-padding-#{$i}, .u-p-#{$i} {
			padding: $i + rpx!important;
		}
		
		@each $short, $long in l left, t top, r right, b bottom {
			// 缩写版，结果如： u-m-l-30
			// 定义外边距
			.u-m-#{$short}-#{$i} {
				margin-#{$long}: $i + rpx!important;
			}
			
			// 定义内边距
			.u-p-#{$short}-#{$i} {
				padding-#{$long}: $i + rpx!important;
			}
			
			// 完整版，结果如：u-margin-left-30
			// 定义外边距
			.u-margin-#{$long}-#{$i} {
				margin-#{$long}: $i + rpx!important;
			}
			
			// 定义内边距
			.u-padding-#{$long}-#{$i} {
				padding-#{$long}: $i + rpx!important;
			}
		}
	}
}

* {
	padding: 0;
	margin: 0;
}

ol,
ul li {
	list-style: none;
}

a {
	text-decoration: none;
	// 鼠标手
	cursor: pointer;
	&:visited {
		color: inherit;
	}
}


.n {
	&-relative,
	&-rela {
		position: relative;
	}

	&-absolute,
	&-abso {
		position: absolute;
	}

	// 单行溢出隐藏
	&-linehide {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-flex {
		display: flex;
	}

	&-flex-col {
		display: flex;
		flex-direction: column;
	}

	&-flex-wrap {
		flex-wrap: wrap;
	}

	&-flex-nowrap {
		flex-wrap: nowrap;
	}

	&-col-center {
		align-items: center;
	}

	&-col-top {
		align-items: flex-start;
	}

	&-col-bottom {
		align-items: flex-end;
	}

	&-row-center {
		justify-content: center;
	}

	&-row-left {
		justify-content: flex-start;
	}

	&-row-right {
		justify-content: flex-end;
	}

	&-row-between {
		justify-content: space-between;
	}

	&-row-around {
		justify-content: space-around;
	}

	&-text-left {
		text-align: left;
	}

	&-text-center {
		text-align: center;
	}

	&-text-right {
		text-align: right;
	}

	// 定义flex等分
	@for $i from 0 through 12 {
		&-flex-#{$i} {
			flex: $i;
		}
	}

	// 定义字体(px)单位，小于20都为px单位字体
	@for $i from 12 to 30 {
		&-font-#{$i} {
			font-size: $i + px;
		}
	}
	&-w {
		width: 100%;
	}
	&-h {
		height: 100%;
	}
	// 用scss循环出宽度以100为比例的css 并且最小100 最大1200的
	@for $i from 1 through 12 {
		&-w-#{$i}00 {
			width: $i * 100rpx;
		}
	}
	@for $i from 1 through 12 {
		&-h-#{$i}00 {
			height: $i * 100rpx;
		}
	}
	&-m-auto-0 {
		margin: auto 0;
	}
	&-m-0-auto {
		margin: 0 auto;
	}
	&-m-auto {
		margin: auto;
	}
	}