.light {
    --white: #fff;
	--bg:#ececec;
	--bg-gray:#f5f5f5;
	--font-black: #333;
	--font-white:#fff;
    --black: #303030;
    --gray: #f5f5f5;
    --second: #e7f8ff;
	--border:#fff;
}

.dark {
	--white: #2c2c2c;
	--bg: #353540;
	--bg-gray:#292929;
	--font-black: #c9d1d9;
	--font-white:#fff;
	--black: #fff;
	--gray: #f5f5f5;
	--second: #e7f8ff;
	--border:#353535;
}

